<%= form_for(episode, url: url_for(action: action), html: {multipart: true, class: 'col s12'}, as: :episode) do |f| %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.select :course_id, @course_list.pluck(:title, :id), :include_blank => "- Pilih Courses -" %>
      <%= f.label(:course_id, class: 'active') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field(:title, class: 'validate', placeholder: 'Setup Project') %>
      <%= f.label(:title, class: 'active') %>
      <%= episode.errors.full_messages_for(:title).empty? ? '' : episode.errors.full_messages_for(:title).first %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_area(:desc, class: 'validate', placeholder: 'pada episode ini saya...', class: 'materialize-textarea') %>
      <%= f.label(:desc, class: 'active') %>
      <%= episode.errors.full_messages_for(:desc).empty? ? '' : episode.errors.full_messages_for(:desc).first %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field(:url, class: 'validate', placeholder: 'kyFcSOdBlP4') %>
      <%= f.label(:url, class: 'active') %>
      <%= episode.errors.full_messages_for(:url).empty? ? '' : episode.errors.full_messages_for(:url).first %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field(:duration, class: 'validate', placeholder: '4:25') %>
      <%= f.label(:duration, class: 'active') %>
      <%= episode.errors.full_messages_for(:duration).empty? ? '' : episode.errors.full_messages_for(:duration).first %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center">
      <button class="btn light-blue darken-1" name="action" type="submit">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
<% end %>
