<%= form_for(episode, url: url_for(action: action), html: {multipart: true, class: 'col s12'}, as: :episode) do |f| %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.select :course_id, Course.all.collect { |p| [p.title, p.id] }, :include_blank => "- Pilih Courses -" %>
      <label>Courses Select</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field(:title, class: 'validate', placeholder: 'Setup Project') %>
      <%= f.label(:title) %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field(:url, class: 'validate', placeholder: 'kyFcSOdBlP4') %>
      <%= f.label(:url) %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field(:duration, class: 'validate', placeholder: '4:25') %>
      <%= f.label(:duration) %>
    </div>
  </div>

  <button class="btn light-blue darken-1" name="action" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
<% end %>
