<div class="section container">
  <div class="row center">
    <h5 class="header">"Semua Episode"</h5>
    <div class="divider"></div>
  </div>
  <div class="row">
    <ul class="collection z-depth-2">
    <% @episodes.each do |ep| %>
      <li class="collection-item avatar">
        <a href="<%= episode_path(ep) %>" class=""><i class="material-icons circle red z-depth-2">play_arrow</i></a>
        <span class="title"><i class="material-icons tiny left">local_cafe</i><a href="<%= episode_path(ep) %>"><%= ep.course.title.titleize %> - <%= ep.title.titleize %></a></span>
        <p class="text-small">
          #<%= ep.id %> | <%= ep.created_at.strftime('%d %b %Y') %>
        </p>
        <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
        <a href="<%= edit_episode_path(ep) %>" class="waves-effect waves-teal"><i class="material-icons z-depth-1">edit</i></a> |
        <a href="<%= episode_path(ep) %>" data-confirm="Hapus?" title="Hapus <%= ep.title %>" data-remote="true" rel="nofollow" data-method="delete" class="waves-effect waves-read"><i class="material-icons z-depth-1">delete_sweep</i></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
