<% courses.each do |c| %>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img class="img-asu" src="<%= image_url(c.photo.thumb.url) %>">
          <div class="row">
            <div class="col s6">
              <a href="<%= course_path(c) %>" data-confirm="Hapus?" title="Hapus <%= c.title %>" data-remote="true" rel="nofollow" data-method="delete" class="left btn-floating pulse halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
            </div>
            <div class="col s6">
              <a href="<%= course_path(c) %>" class="btn-floating pulse halfway-fab waves-effect waves-light blue"><i class="material-icons">school</i></a>
            </div>
          </div>
        </div>
        <div class="card-action">
          <p class="truncate">Belajar <%= c.title.titleize %></p>
          <p><%= c.price.zero? ? 'Gratis!' : '' %></p>
        </div>
      </div>
    </div>
<% end %>
