<% if policy(@course).new? %>
<%= render("layouts/button-new-fly", goto: new_episode_path) %>
<% end %>

<div class="section container">
  <div class="row center">
    <h5 class="header">"<%= @course.title.titleize %>"</h5>
    <div class="divider"></div>
  </div>
  <div class="row">
    <% if @episodes.empty? %>

<!--   <div class="row">
    <div class="col s12">
      <p>Subscribe!</p>
      <p>Buat saya bertambah bersemangat share video <%= @course.title %> dan</p>
      <p>segera dapatkan informasi mengenai screencast yang tersedia :)</p>
    </div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input placeholder="test@gmail.com" id="first_name2" type="text" class="validate">
          <label class="active" for="first_name2">Email Subscribe</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <button class="btn light-blue darken-1" name="action" type="submit">Subscribe!
            <i class="material-icons right">favorite</i>
          </button>
        </div>
      </div>
    </form>
  </div> -->


    <% else %>
    <ul class="collection z-depth-2">
      <% @episodes.each do |ep| %>
      <li class="collection-item avatar">
        <a href=""><i class="material-icons circle red z-depth-2">play_arrow</i></a>
        <span class="title"><i class="material-icons tiny left">local_cafe</i><a href="<%= episode_path(ep) %>"><%= ep.course.title.titleize %> - <%= ep.title.titleize %></a></span>
        <p class="text-small">
          #<%= ep.id %> | <%= ep.created_at.strftime('%d %b %Y') %>
        </p>
        <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
        <% if policy(ep).update? %>
        <a href="<%= edit_episode_path(ep) %>" class="waves-effect waves-teal"><i class="material-icons z-depth-1">edit</i></a> |
        <a href="<%= episode_path(ep) %>" data-confirm="Hapus?" title="Hapus <%= ep.title %>" data-remote="true" rel="nofollow" data-method="delete" class="waves-effect waves-read"><i class="material-icons z-depth-1">delete_sweep</i></a>
        <% end %>
      </li>
      <% end %>
    <% end %>
    </ul>
    <div class="row center">
      <div class="col s12">
      <%= will_paginate @episodes, :renderer => Pagination %>
      </div>
    </div>
  </div>
</div>
