<header class="navbar-fixed">
  <nav class="light-blue darken-1">
    <div class="nav-wrapper">
      <a class="brand-logo center">
        <i class="material-icons">voice_chat</i>
        <img height="60" src="<%= image_url("cetol-logo.svg") %>" style="fill: white !important;" width="112"/>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="<%= episodes_path %>">Episodes</a></li>
        <li><a href="<%= courses_path %>">Courses</a></li>
        <% if user_signed_in? %>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="<%= episodes_path %>">Episodes</a></li>
        <li><a href="<%= courses_path %>">Courses</a></li>
        <% if user_signed_in? %>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
